@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

@media (min-width: 300px) {
    main {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        row-gap: 20px;
    }

    .skills > article > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        border: 1px solid gainsboro;
        border-radius: 5px;
        padding: 4%;
    }

    .skills aside {
        width: 15vh;
        height: 15vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .html-5 > aside {
        background-image: url("https://cdn-icons-png.flaticon.com/512/732/732212.png");
    }
    .css-3 > aside {
        background-image: url("https://cdn-icons-png.flaticon.com/512/732/732190.png");
    }
    .fontawesome > aside {
        background-image: url("https://www.drupal.org/files/project-images/font_awesome_logo.png");
    }
    .google-fonts > aside {
        background-image: url("https://cdn-icons-png.flaticon.com/512/281/281764.png");
    }

    .github > aside {
        background-image: url("https://cdn-icons-png.flaticon.com/512/733/733609.png");
    }

    .bootstrap > aside {
        background-image: url("https://cdn-icons-png.flaticon.com/512/5968/5968672.png");
    }

    .scss > aside {
        background-image: url("https://cdn-icons-png.flaticon.com/512/5968/5968358.png");
    }
    

    .skills h4 {
        text-align: center;
    }

    .education {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .education > h2 {
        border-bottom: 2px solid teal;
    }

    .education > article {
        width: 70%;
    }

    .education [alt="Tokyo University"] {
        padding: 5%;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects > h2 {
        border-bottom: 2px solid teal;
    }

    .projects > article {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact > h2 {
        border-bottom: 2px solid teal;
    }

    .contact > form {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .contact div {
        display: flex;
        flex-direction: column;
    }

    .contact input,
    .contact textarea {
        border: 1px solid gainsboro;
        padding: 3%;
    }

    .contact textarea {
        height: 30vh;
        font-size: 20px;
    }

    .contact [type="submit"] {
        background-color: teal;
        color: whitesmoke;
        font-size: 18px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
    }

    footer > div {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
}