@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

@media (min-width: 300px) {

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact > h2 {
        border-bottom: 2px solid teal;
    }

    .contact > form {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .contact div {
        display: flex;
        flex-direction: column;
    }

    .contact input,
    .contact textarea {
        border: 1px solid gainsboro;
        padding: 3%;
    }

    .contact textarea {
        height: 30vh;
        font-size: 20px;
    }

    .contact [type="submit"] {
        background-color: teal;
        color: whitesmoke;
        font-size: 18px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
    }

    footer > div {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
}